@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Poppins&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    height: 100%;

    overflow: hidden;

    overscroll-behavior: none;

    --board-light: #efd7c1;
    --board-dark: #ac7a67;
    --board-light-highlighted: #df3d4d;
    --board-dark-highlighted: #b22731;
    --board-light-selected: #f6b150;
    --board-dark-selected: #ea7527;
}

body {
    height: 100%;

    display: grid;
    place-items: center;

    font-family: "Poppins", sans-serif;
}

.log {
    font-family: "Fira Mono", monospace;

    white-space: pre;

    background: rgba(255, 255, 255, 0.75);

    position: fixed;
    
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    z-index: 100;

    display: none;

    padding: 8px;
}

.light {
    background-color: var(--board-light);
}

.dark {
    background-color: var(--board-dark);
}

.light-highlighted {
    background-color: var(--board-light-highlighted);
}

.dark-highlighted {
    background-color: var(--board-dark-highlighted);
}

.light-selected {
    background-color: var(--board-light-selected);
}

.dark-selected {
    background-color: var(--board-dark-selected);
}

.board {
    position: relative;

    width: 512px;
    height: 512px;

    display: grid;

    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.files {
    position: absolute;
    
    bottom: 0;

    width: 100%;
    height: 12.5%;
    
    display: flex;
}

.files > div {
    width: 12.5%;

    display: grid;

    place-items: end;

    padding: 2px 4px;

    font-size: 12px;

    user-select: none;
}

.files > div:nth-child(even) {
    color: var(--board-dark);
}

.files > div:nth-child(odd) {
    color: var(--board-light);
}

.ranks {
    position: absolute;

    left: 0;

    width: 12.5%;
    height: 100%;

    display: flex;
    flex-direction: column-reverse;
}

.ranks > div {
    height: 12.5%;

    display: grid;

    padding: 2px 4px;

    font-size: 12px;

    user-select: none;
}

.ranks > div:nth-child(even) {
    color: var(--board-dark);
}

.ranks > div:nth-child(odd) {
    color: var(--board-light);
}

.cell {
    display: grid;
    place-items: center;
}

.cell-img {
    width: 64px;
    height: 64px;

    user-select: none;

    z-index: 10;
}