.board-wrapper {
    display: flex;

    flex-direction: row;

    gap: 2rem;
}

.board-wrapper .left,
.board-wrapper .right {
    width: 256px;

    background-color: #fafafa;

    box-shadow: inset 0px 0px 20px 0px #e0e0e0;

    padding: 1rem;

    font-size: 0.8rem;

    max-height: 512px;

    overflow: scroll;

    box-sizing: border-box;
}

@media (max-width: 1200px) {
    .board-wrapper {
        gap: 1.5rem;
    }

    .board-wrapper .left,
    .board-wrapper .right {
        width: 180px;

        font-size: 0.625rem;

        max-height: 360px;

        padding: 0.8rem;
    }
}

@media (max-width: 900px) {
    .board-wrapper {
        flex-direction: column;
    }

    .board-wrapper .left,
    .board-wrapper .right {
        width: 360px;

        height: 180px;
    }
}

@media (max-width: 400px) {
    .board-wrapper {
        flex-direction: column;
    }

    .board-wrapper .left,
    .board-wrapper .right {
        width: 320px;

        height: 160px;
    }
}
