.docs {
    min-width: 600px;
    height: 100%;

    min-height: 100vh;
    overflow: scroll;

    padding: 2rem 1rem 5rem;

    display: flex;
    flex-direction: column;
}

.docs > div {
    flex: 1;
}

.docs > footer {
    color: #777777;

    font-size: 0.8rem;
}