.main-menu {
    display: flex;
    flex-direction: column;

    gap: 0.5rem;

    text-align: center;
}

.main-menu h1 {
    display: flex;
    align-items: center;

    justify-content: center;

    font-size: 2.25rem;
}

.main-menu h1 img {
    width: 3.25rem;
    height: 3.25rem;

    user-select: none;
}

.main-menu h2 {
    font-size: 1.25rem;

    color: #777777;
}

.main-menu h3 {
    color: #444444;
}

.main-menu p,
.main-menu .not-black {
    color: #888888;
}

a.src-link {
    color: #888888;
}

a.src-link:hover {
    text-decoration: underline;
}

a {
    color: #222222;

    text-decoration: none;
}

.go-btn {
    font-size: 0.75rem;

    padding: 0.125rem 0.325rem;

    border-radius: 2px;

    border: 1px solid #222222;

    transition: all 0.1s ease-in-out;
}

.go-btn:hover {
    color: #fafafa;

    background-color: #222222;
}

select {
    font-family: "Poppins", sans-serif;
}