.main-menu {
    display: flex;
    flex-direction: column;

    gap: 0.5rem;

    text-align: center;
}

.main-menu h1 {
    display: flex;
    align-items: center;

    font-size: 2.25rem;
}

.main-menu h1 img {
    width: 3.25rem;
    height: 3.25rem;
}

.main-menu h2 {
    font-size: 1.25rem;

    color: #777777;
}

.main-menu h3 {
    color: #444444;
}

.main-menu p,
.main-menu .not-black {
    color: #888888;
}

a.src-link {
    color: #888888;
}

a.src-link:hover {
    text-decoration: underline;
}

a {
    color: #222222;

    text-decoration: none;
}