@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    height: 100%;

    overflow: hidden;

    overscroll-behavior: none;

    --board-light: #efd7c1;
    --board-dark: #ac7a67;
    --board-light-highlighted: #df3d4d;
    --board-dark-highlighted: #b22731;
    --board-light-selected: #f6b150;
    --board-dark-selected: #ea7527;
    --board-debug-1: #3471f5;
    --board-debug-2: #982cf0;
    --board-debug-3: #e95aeb;
    --board-debug-4: #59ea61;
}

body {
    height: 100%;

    display: grid;
    place-items: center;

    font-family: "Poppins", sans-serif;
}


.fade-out-appear,
.fade-out-enter {
    opacity: 0;
    transform: translateX(-1rem);
}

.fade-out-appear-active,
.fade-out-enter.fade-out-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition-property: opacity, transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.fade-out-exit {
    opacity: 1;
    transform: translateX(0);
}

.fade-out-exit.fade-out-exit-active {
    opacity: 0;
    transform: translateX(-1rem);
    transition-property: opacity, transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.fade-out-other-side.fade-out-appear,
.fade-out-other-side.fade-out-enter {
    opacity: 0;
    transform: translateX(1rem);
}

.fade-out-other-side.fade-out-appear-active,
.fade-out-other-side.fade-out-enter.fade-out-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition-property: opacity, transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.fade-out-other-side.fade-out-exit {
    opacity: 1;
    transform: translateX(0);
}

.fade-out-other-side.fade-out-exit.fade-out-exit-active {
    opacity: 0;
    transform: translateX(1rem);
    transition-property: opacity, transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}
